<div class="example-container">
    <form ngNativeValidate #loginForm="ngForm">
        <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
        <mat-form-field>
            <input matInput type="email" id="email" name="email" [(ngModel)]="userLogin.email"
            placeholder="Email" class="form-control" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" id="password" name="password" [(ngModel)]="userLogin.password"
            placeholder="Password" class="form-control" required />
        </mat-form-field>
        <button [disabled]="!loginForm.valid" class="btn btn-default" (click)="login()">Log in</button>
        <p>
            <a routerLink="/account/register">Register as a new user?</a>
        </p>
    </form>
</div>