<div class="example-container">
    <form class="form-horizontal" ngNativeValidate #registerForm="ngForm">
        <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
        <mat-form-field>
            <input matInput type="email" id="email" name="email" [(ngModel)]="userRegister.email"
            placeholder="Email" class="form-control" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput  type="password" id="password" name="password" [(ngModel)]="userRegister.password"
            placeholder="Password" class="form-control" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" id="passwordConfirmation" name="passwordConfirmation"
            [(ngModel)]="userRegister.passwordConfirmation"
            placeholder="Confirm password" class="form-control" required />
        </mat-form-field>
        <button mat-button color="primary" [disabled]="!registerForm.valid" (click)="register()" class="btn btn-default">Register</button>
        <p>
                <a routerLink="/account/login">Log in with an existing user</a>
        </p>
    </form>
</div>